*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
.container-all{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    display: none;
    font-size: 20px;
    
}

.container-all .popup{
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    min-width: 500px;
    width: 30%;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 30%;
    top: 20%;
    border: 10px solid #314625;
    height: 300px;
    
}
.imagen{
    position: absolute;
    min-width: 1440px;
}

.popup .contenedor-btn-cerrar{
    float: right;
    padding: 5px;
    background-color: #314625;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -30px;
    margin-right: -30px;
    display: flexbox;
}

.titulo-lote{
    font-size: 30px;
    font-weight: bold;
    color: rgb(12, 12, 12);
    margin-top: 20px;
    margin-bottom: 20px;
}



.container_description{
    width: 500px;
    justify-content: center;
    display: grid;
    grid-template-columns: 40px 80px;
    grid-template-rows: auto;
    row-gap: 1em;
    column-gap: 3em;
    margin-left: 8%;
    font-size: 24px;
}

.img_1{
    position: absolute;
    width: 100%;
}

.hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    display: block;
    font-size: 20px;
}

.plano-rinconada{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    display:none ;
    font-size: 20px;
}

